<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="descriotion" content="Автомоторы34 - это магазин моторов, в котором ты можешь заказать любой двигатель, АКПП или МКПП. 
        Зайди на сайт и позвони продавцу, чтобы связаться с ним.">
        <meta name="keywords" content="Моторы, заказать, купить, двигатели, АКПП, МКПП, Волгоград, купить мотор">
        <link type="image/png" sizes="32x32" rel="icon" href="../static/imges/Ico.ico.png">
    
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="../static/styles/normilize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    
        <title>Автомоторы34 - магазин моторов | О нас</title>
    </head>
<body>
    
    <header class="afterheader">
        <span id="burger__button" class="burger__img"></span>

        <div id="header" class="header">
            <nav class="ul">
                <a href="/index">
                    <div  class="logo">
                        <img src="/static/imges/Логотип.png" alt="логотип"/>
                        <h3>Автомоторы34</h3>
                    </div>
                </a>

                <nav id="nav__header" class="nav__header">
                    <a id="index.html"  href="/index" class="button__nav__header">Главная</a>
                    <a id="about.html"  href="/about" class="button__nav__header  active">О Нас</a>
                    <a id="products.html" class="a_dropdown">
                        <div  class="dropdown">
                            <h4    class="button__nav__header">Товары</h4>
                            <div href="#element1" class="dropdownmenu">
                                <a id="products.html" id="engine"  href="/engine" class="header__dropdown__button">Двигатели</a>
                                <a id="products.html" id="MKPP"  href="/MKPP" class="header__dropdown__button">МКПП</a>
                                <a id="products.html" id="AKPP"  href="/AKPP" class="header__dropdown__button">АКПП</a>
                            </div>
                        </div>
                    </a>
                    <a id="products.html" id="engine"  href="/engine" class="header__dropdown__button__minwidth button__nav__header">Двигатели</a>
                    <a id="products.html" id="MKPP"  href="/MKPP" class="header__dropdown__button__minwidth button__nav__header">МКПП</a>
                    <a id="products.html" id="AKPP"  href="/AKPP" class="header__dropdown__button__minwidth button__nav__header">АКПП</a>

                    <a id="delivery.html"  href="/delivery" class="button__nav__header">Доставка</a>
                </nav>
               
            </nav>
        </div>
    </header>

    <main>
        <section class="about">
            <div class="blur">
                <div class="text">
                    <h1 class="about__title">О нас</h1>
                    <p class="about__p">На рынке контрактных агрегатов мы ведем деятельность четвертый год. За это время мы поставили нашим клиентам различные типы двигателей, коробок передач, узлов трансмиссии. Это дало нам колоссальный опыт в продажах, которые строятся по принципу «выдать качественный продукт».</p>
                    <p class="about__p">В нашем случае до клиента заказываемая деталь проделывает путь от торгующей компании, через руки специалистов с богатым опытом в услугах автомобильного сервиса.</p>
                    <p class="about__p">Пройдя инструментальную диагностику, запасная часть получившая одобрение мастера направляется на упаковку, которой уделяется не малое внимание. Целью упаковки является исключение повреждений при транспортировке детали к вам.</p>
                    <p class="about__p">До клиента доходит агрегат, не утративший своей работоспособности, удовлетворяющий требования клиента.</p>
                    <p class="about__p">Мы даем рекомендации перед установкой деталей, поставленных нами, они не являются обязательными, это лишь забота о тех, кто решит самостоятельно поставить свою деталь. Гарантия в любом случае сохраняется как от нашего поставщика, так и от нашей компании</p>
                </div>
            </div>
        </section>
    
        <section class="map">
            <h1 class="map__title">Контакты</h1>
            <h3 class="text_contact">Телефон: +7 903 468 74 21</h3>
            <h1 class="map__title">Мы на карте</h1>
            <div class="map__yandex" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/38/volgograd/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Волгоград</a><a href="https://yandex.ru/maps/38/volgograd/house/bylinnaya_ulitsa_44/YE0YcwRnQEMOQFpifXt5dXRqbA==/?ll=44.537472%2C48.784932&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=18" style="color:#eee;font-size:12px;position:absolute;top:14px;">Былинная улица, 44 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUF7SsZcC" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </section>
    
        
    </main>
    

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__leftcol">
                <img class="footer__logo" src="/static/imges/Логотип.png" alt="логотип">
                <h3 class="footer__info">Продажа контрактных двигателей и коробок передач</h3>
                <h3 class="footer__info" style="color: white;">Автомоторы34.ru</h3>
                <h3 class="footer__info autors">Авторы: <br><a href="https://vk.com/incredibly_bad">frontend</a>, <a href="https://vk.com/alexey_zaliznak">backend</a></h3>
            </div>
            <div class="footer__rightcol">
                <div class="footer__title">Меню</div>
                <ui>
                    <li class="footer__links"><a href="/index" class="footer__a">Главная</a></li>
                    <li class="footer__links"><a href="/about" class="footer__a">О нас</a></li>
                    <li class="footer__links"><a href="/engine" class="footer__a">Двигатели</a></li>
                    <li class="footer__links"><a href="/AKPP" class="footer__a">АКПП</a></li>
                    <li class="footer__links"><a href="/MKPP" class="footer__a">МКПП</a></li>
                    <li class="footer__links"><a href="/delivery" class="footer__a">Доставка</a></li>
                </ui>
            </div>
        </div>
    </footer>

    <script src="../static/scripts/header.js"></script>
</body>
</html>