@charset "UTF-8";
.afterheader {
  position: relative;
  height: 88px;
  width: 100%;
  background-color: #474747;
  z-index: 99;
}

.afterheader .header {
  background-color: rgba(71, 71, 71, 0.9);
  position: absolute;
  width: 100%;
  min-height: 88px;
  height: 88px;
}

.afterheader .header .ul {
  padding: 0 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.afterheader .header .ul .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  min-width: 80px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}

.afterheader .header .ul .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.afterheader .header .ul .logo h3 {
  color: #7a9a52;
  margin: 0 0 0 10px;
  font-size: 24px;
  text-shadow: 1px 1px 2px black, 0 0 1em #7a9a52;
}

.afterheader .header .ul .nav__header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.afterheader .header .ul .nav__header button {
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.afterheader .header .ul .nav__header .a_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.afterheader .header .ul .nav__header .header__dropdown__button__minwidth {
  display: none;
}

.afterheader .header .ul .nav__header .dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.afterheader .header .ul .nav__header .dropdown .dropdownmenu {
  opacity: 0;
  position: absolute;
  top: 75px;
  pointer-events: none;
  min-width: 200px;
  min-height: 130px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.afterheader .header .ul .nav__header .dropdown .dropdownmenu a {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.afterheader .header .ul .nav__header .dropdown .dropdownmenu .header__dropdown__button {
  width: 100%;
  color: #080808;
  margin-left: 30px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.afterheader .header .ul .nav__header .dropdown:hover .dropdownmenu {
  opacity: 1;
  pointer-events: all;
}

.afterheader .header .ul .nav__header .dropdown .dropdownmenu .header__dropdown__button:hover {
  color: #7a9a52;
}

@media screen and (max-width: 625px) {
  .afterheader .header .ul .nav__header .dropdown {
    display: none;
  }
  .afterheader .header .ul .nav__header .header__dropdown__button__minwidth {
    display: block;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    font-size: 16px;
  }
  .afterheader .header .ul .nav__header .a_dropdown {
    display: none;
  }
}

.afterheader .header .ul .nav__header .button__nav__header {
  position: relative;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  cursor: pointer;
}

.afterheader .header .ul .nav__header .button__nav__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
  background-color: #7a9a52;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.afterheader .header .ul .nav__header .button__nav__header:hover::after {
  display: block;
  opacity: 1;
}

.afterheader .header .ul .nav__header .active {
  color: #7a9a52;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.337), 0 0 1em #7a9a5286;
}

.afterheader .header .ul .callback {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.afterheader .header .ul .callback button {
  font-weight: 700;
  font-size: 14px;
  height: 40px;
  width: 190px;
  background-color: #e93f3e;
  border: 0px;
  border-radius: 6px;
  color: aliceblue;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .afterheader .header .ul .logo img {
    height: 60px;
  }
  .afterheader .header .ul .logo h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 840px) {
  .afterheader .header .callback {
    display: none;
  }
}

@media screen and (max-width: 625px) {
  .afterheader .header {
    min-height: 80vh;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .afterheader .header .ul {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .afterheader .header .ul .logo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .afterheader .header .ul .logo h3 {
    margin: 10px 0 10px 0;
    font-size: 22px;
  }
  .afterheader .header .ul .logo img {
    width: 100px;
    height: 100px;
  }
  .afterheader .header .ul .nav__header {
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .afterheader .header .ul .nav__header * {
    margin-top: 30px;
  }
  .afterheader .header .ul .nav__header button {
    margin-bottom: 0;
  }
  .afterheader .header .ul .callback {
    display: inline;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 840px) {
  .afterheader .header {
    top: 0px;
  }
}

@media screen and (max-width: 625px) {
  .header {
    top: -1100vh;
  }
  .burger__img {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 48px;
    width: 48px;
    background-color: transparent;
    z-index: 1;
  }
}

.intro {
  height: 800px;
  background: url("../imges/intro.jpg") center no-repeat;
  background-size: cover;
}

.intro .container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 5%;
}

.intro .container * {
  width: 90%;
}

.intro .blur {
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  background: rgba(65, 32, 19, 0.2);
  height: 750px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.intro .blur nav {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 4%;
  height: 80px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.intro .blur nav .palka {
  height: 90%;
  width: 0;
  border-right: #fff solid 1px;
  background-color: white;
}

.intro .blur nav .prodNav__button {
  height: 55px;
  margin: 0 10px;
  line-height: 1.55;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #7a9a52;
}

@media screen and (max-width: 350px) {
  .intro .blur nav .prodNav__button {
    font-size: 12px;
  }
}

.intro .blur nav .prodNav__button:nth-child(1) {
  -webkit-box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.intro .blur nav .prodNav__button:nth-child(2) {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.intro .blur nav .prodNav__button:nth-child(3) {
  -webkit-box-shadow: -10px 5px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: -10px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.intro .blur .intro__title {
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .intro .blur .intro__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 840px) {
  .intro .blur .intro__title {
    font-size: 29px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 540px) {
  .intro .blur .intro__title {
    font-size: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 375px) {
  .intro .blur .intro__title {
    font-size: 14px;
  }
}

.intro .blur .intro__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 920px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .intro .blur .intro__callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro .blur .intro__callback .leftCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro .blur .intro__callback .leftCol .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.intro .blur .intro__callback .leftCol .text .intro__ICO {
  width: 50px;
  height: 50px;
}

.intro .blur .intro__callback .leftCol .text .intro__text {
  line-height: 1.55;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.387);
  -webkit-box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.387);
          box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.387);
}

@media screen and (max-width: 500px) {
  .intro .blur .intro__callback .leftCol .intro__text {
    white-space: normal;
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .intro .blur .intro__callback .leftCol .text {
    white-space: nowrap;
  }
  .intro .blur .intro__callback .leftCol .text .intro__text {
    white-space: wrap;
    font-size: 14px;
  }
}

.intro .blur .intro__callback .rightCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro .blur .intro__callback .rightCol .inputpox {
  max-width: 440px;
  width: 100%;
  height: 190px;
}

.intro .blur .intro__callback .rightCol .inputpox .intro__input {
  border: #fff 1px solid;
  border-radius: 10px;
  background-color: rgba(34, 34, 78, 0.7);
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
  height: 70px;
  padding: 0 20px;
  line-height: 1.33;
  cursor: pointer;
}

.intro .blur .intro__callback .rightCol .inputpox .intro__input p .copytext {
  font-weight: 500;
}

.intro .blur .intro__callback .rightCol .inputpox .intro__input p span {
  font-weight: 700;
}

.intro .blur .intro__callback .rightCol .inputpox .intro__input p .watsapp {
  color: #58d164;
}

.intro .blur .intro__callback .rightCol .inputpox .intro__input p .inst {
  color: #c5574b;
}

.intro .blur .intro__callback .rightCol .inputpox .intro__input p .viber {
  color: #9446d0;
}

.intro .blur .intro__callback .rightCol .inputpox ::-webkit-input-placeholder {
  color: white;
}

.intro .blur .intro__callback .rightCol .inputpox :-ms-input-placeholder {
  color: white;
}

.intro .blur .intro__callback .rightCol .inputpox ::-ms-input-placeholder {
  color: white;
}

.intro .blur .intro__callback .rightCol .inputpox ::placeholder {
  color: white;
}

.intro .blur .intro__callback .rightCol .inputpox :focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.intro .blur .intro__callback .rightCol .inputpox .intro__callback__button {
  color: #fff;
  background-color: #e93f3e;
  font-weight: 600;
  font-size: 14px;
  max-width: 260px;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: block;
  cursor: pointer;
  border: none;
  margin-bottom: 0px;
}

@media screen and (max-width: 480px) {
  .intro .blur .intro__callback .rightCol .inputpox {
    max-width: 320px;
  }
}

.intro .blur .intro__callback .rightCol .intro__callback__text {
  margin: 0;
  text-align: start;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Montserrat',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1245px;
  margin: 0 auto;
}

.products .products__title {
  text-align: center;
  color: #343841;
  font-size: 42px;
  font-family: 'Montserrat',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 90px;
}

.products .card {
  width: 270px;
  max-height: 380px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #f8f8f8;
  text-align: center;
  margin: 80px 10px;
  padding: 100px 10px 30px;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.products .card .product__img {
  position: absolute;
  top: -100px;
  left: 50px;
  height: 200px;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  border-radius: 50%;
  -webkit-box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.products .card .product__img:hover {
  top: -110px;
}

.products .card .product__title {
  font-weight: 700;
  font-size: 28px;
}

.products .card .product__text {
  font-size: 14px;
  line-height: 1.5;
}

.products .card .product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 600;
  margin: 40px auto 0;
  background-color: #7a9a52;
  width: 200px;
  height: 45px;
  border-radius: 5px;
}

.callbackblock {
  height: 600px;
  width: 100%;
  margin: 24px 0 0;
  background-color: #343841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: url("/static/imges/callbackbg.jpg") center no-repeat;
  background-size: cover;
}

.callbackblock .blure {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.callbackblock .callbackblock__title {
  margin: 170px auto 30px;
  padding: 10px 0 0 0;
  width: 960px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.23;
}

.callbackblock .callbackblock__inputs {
  position: relative;
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.callbackblock .callbackblock__inputs * {
  width: 30%;
  margin-right: 20px;
  height: 56px;
}

.callbackblock .callbackblock__inputs .callbackblock__input {
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: #e93f3e 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.callbackblock .callbackblock__inputs .callbackblock__input a {
  width: 100%;
  margin: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.callbackblock .callbackblock__inputs .callbackblock__input a span {
  font-weight: 700;
}

.callbackblock .callbackblock__inputs .callbackblock__input a .watsapp {
  color: #58d164;
}

.callbackblock .callbackblock__inputs .callbackblock__input a .inst {
  color: #c5574b;
}

.callbackblock .callbackblock__inputs .callbackblock__input a .viber {
  color: #9446d0;
}

.callbackblock .callbackblock__inputs .callbackblock__input::-webkit-input-placeholder {
  color: #7a7a7a;
}

.callbackblock .callbackblock__inputs .callbackblock__input:-ms-input-placeholder {
  color: #7a7a7a;
}

.callbackblock .callbackblock__inputs .callbackblock__input::-ms-input-placeholder {
  color: #7a7a7a;
}

.callbackblock .callbackblock__inputs .callbackblock__input::placeholder {
  color: #7a7a7a;
}

.callbackblock .callbackblock__inputs .callbackblock__input:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.callbackblock .callbackblock__inputs .callbackblock__button {
  background-color: #e93f3e;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .callbackblock .callbackblock__title {
    font-size: 44px;
  }
  .callbackblock .callbackblock__title, .callbackblock .callbackblock__inputs {
    width: 780px;
  }
}

@media screen and (max-width: 960px) {
  .callbackblock .callbackblock__title, .callbackblock .callbackblock__inputs {
    width: 600px;
    padding: 0 20px;
  }
  .callbackblock .callbackblock__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .callbackblock .callbackblock__inputs * {
    width: 100%;
    margin: 0;
  }
  .callbackblock .callbackblock__inputs .callbackblock__button {
    margin-top: 10px;
    margin-right: 0;
  }
  .callbackblock .callbackblock__inputs .callbackblock__input {
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  .callbackblock .callbackblock__title {
    font-size: 30px;
  }
  .callbackblock .callbackblock__title, .callbackblock .callbackblock__inputs {
    width: 90%;
  }
}

.friends {
  width: 100%;
  padding: 150px 0;
  background-color: #fff;
}

.friends .friends__container {
  height: 270px;
  max-width: 1160px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.friends .friends__container .friends__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 100px;
}

.friends .friends__container .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.friends .friends__container .carousel .friends__divimg {
  position: relative;
  width: 160px;
  height: 72px;
}

.friends .friends__container .carousel .friends__divimg .friends__img {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.friends .friends__container .carousel .friends__divimg .friends__img.left {
  margin-right: 0;
}

.friends .friends__container .carousel .friends__divimg .friends__img.right {
  margin-right: 0;
}

.friends .friends__container .carousel .friends__divimg .friends__img:hover {
  width: 120%;
  height: 120%;
}

@media screen and (max-width: 1200px) {
  .friends .friends__container .carousel .friends__divimg {
    width: 140px;
    height: 63px;
  }
}

@media screen and (max-width: 960px) {
  .friends .friends__container .carousel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .friends .friends__container .carousel .friends__divimg {
    max-width: 170px;
    width: 30%;
    max-height: 77px;
    height: 100%;
  }
  .friends .friends__container .carousel .break {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 0;
  }
}

@media screen and (max-width: 1200px) {
  .friends .friends__container {
    max-width: 940px;
  }
  .friends .friends__container .friends__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 960px) {
  .friends .friends__container {
    max-width: 600px;
    width: 100%;
  }
  .friends .friends__container .friends__title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 660px) {
  .friends .friends__container .friends__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  .friends {
    padding: 50px 0;
  }
}

.footer {
  width: 100%;
  height: 355px;
  padding: 75px 0 90px;
  background-color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__container .footer__leftcol {
  width: 360px;
  margin: 0 20px;
}

.footer .footer__container .footer__leftcol .footer__logo {
  max-width: 200px;
  width: 100%;
  height: 200px;
  background-color: #686868;
}

.footer .footer__container .footer__leftcol .footer__info {
  color: #525252;
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
}

.footer .footer__container .footer__leftcol .autors {
  color: #525252;
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  white-space: nowrap;
}

.footer .footer__container .footer__leftcol .autors a {
  color: rgba(255, 255, 255, 0.383);
  border-bottom: rgba(255, 255, 255, 0.383) 1px solid;
}

.footer .footer__container .footer__rightcol {
  width: 160px;
  height: 325px;
  padding-left: 400px;
  margin: 0 20px;
}

.footer .footer__container .footer__rightcol .footer__title {
  color: #525252;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 600;
}

.footer .footer__container .footer__rightcol .footer__links {
  display: block;
  margin-bottom: 10px;
  line-height: 1.55;
}

.footer .footer__container .footer__rightcol .footer__links .footer__a {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .footer {
    height: 318px;
  }
  .footer .footer__container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 960px;
  }
  .footer .footer__container .footer__leftcol {
    width: 300px;
    margin: 10px 0;
  }
  .footer .footer__container .footer__leftcol .autors {
    padding-top: 250px;
  }
  .footer .footer__container .footer__rightcol {
    width: 140px;
    margin: 10px 0;
    padding-left: 360px;
    height: 270px;
  }
  .footer .footer__container .footer__rightcol .footer__title {
    font-size: 14px;
  }
  .footer .footer__container .footer__rightcol .footer__links {
    line-height: 1.35;
  }
  .footer .footer__container .footer__rightcol .footer__links .footer__a {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    height: 630px;
  }
  .footer .footer__container {
    max-width: 640px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__container .footer__leftcol {
    height: 318px;
    width: 280px;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .footer .footer__container .footer__leftcol .footer__info {
    font-size: 12px;
  }
  .footer .footer__container .footer__rightcol {
    height: 280px;
    width: 251px;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}

.about {
  min-height: 100vh;
  width: 100%;
  background-color: #343841;
  background: url(/static/imges/about.jpg) center no-repeat;
  background-size: cover;
}

.about .blur {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  height: 100%;
  padding-top: 50px;
  padding-right: 20%;
  padding-left: 40px;
  color: #ffffff;
}

.about .blur .text {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding-bottom: 50px;
}

.about .blur .text .about__title {
  font-size: 59px;
  line-height: 1.55;
  font-weight: 600;
}

.about .blur .text .about__p {
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  .about .blur {
    padding: 0;
    padding-top: 50px;
  }
  .about .blur .text {
    width: 80%;
  }
  .about .blur .text .about__p {
    width: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .about .blur .text .about__p {
    font-size: 14px;
  }
}

.map {
  max-height: 580px;
  height: 100%;
  width: 100%;
  background-color: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map .text_contact {
  margin-left: 20px;
  color: #fff;
}

.map .map__title {
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.map .map__yandex {
  text-align: center;
  width: 100%;
  margin: auto;
  height: auto;
}

.page__products {
  background-color: #fff;
}

.page__products .mainfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 190px;
  margin: 0 110px;
  position: relative;
}

.page__products .mainfilter .img__bg {
  max-width: 300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #e93f3e;
  text-align: center;
  position: relative;
}

.page__products .mainfilter .img__bg .product__img {
  width: 100%;
  height: 100%;
}

.page__products .mainfilter canvas {
  width: 100px;
  height: 100px;
}

.page__products .link {
  height: 19px;
  width: calc(100% - 100px);
  padding-bottom: 60px;
  margin: 0 110px;
}

@media screen and (max-width: 800px) {
  .page__products .mainfilter {
    margin: 0 60px;
  }
  .page__products .link {
    margin: 0 60px;
  }
}

@media screen and (max-width: 625px) {
  .page__products .mainfilter {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page__products .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1150px;
  width: 90%;
}

.page__products .filters .brand__filter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50px;
}

.page__products .filters .brand__filter .brand {
  margin: 0;
}

.page__products .filters .brand__filter .brand .bt {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
}

.page__products .filters .brand__filter .brand .bt .name__box {
  cursor: pointer;
  width: 70px;
}

.page__products .filters .brand__filter .brand .bt .name__box .name h3 {
  margin: 0;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  color: #757575;
}

.page__products .filters .brand__filter .brand .bt .name__box::after {
  content: ' ';
  width: 5px;
  height: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent #000 #000 transparent;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 10px;
  top: -2px;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

.page__products .filters .brand__filter .brand .bt .brandSelect {
  position: absolute;
  display: none;
  background-color: #dfdfdf;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  margin: 10px 0;
  padding: 5px 10px 10px;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox {
  padding: 3px 0;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* для элемента label, связанного с .custom-checkbox */
  /* создание в label псевдоэлемента before со следующими стилями */
  /* стили при наведении курсора на checkbox */
  /* стили для активного чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand__checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.page__products .filters .brand__filter .brand .bt .brandSelect .checkbox .brand {
  margin: 3px 0;
  margin-left: 10px;
}

.page__products .filters .brand__filter .brand .bt.active .brandSelect {
  display: block;
}

.page__products .filters .search form {
  position: relative;
  width: 230px;
  margin: 0 auto;
}

.page__products .filters .search form .search__input {
  width: 100%;
  height: 22px;
  border: 2px solid #919191;
  border-radius: 5px;
  background-color: #fff;
}

.page__products .filters .search form :focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page__products .filters .search form .search__button {
  position: absolute;
  top: 0;
  right: -8px;
  width: 42px;
  height: 27px;
  border: none;
  background-color: #919191;
  border-radius: 0 5px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.page__products .filters .search form .search__button img {
  position: absolute;
  left: 25%;
}

@media screen and (max-width: 625px) {
  .page__products .filters .search form {
    width: 200px;
    margin-right: 10px;
  }
}

.page__products .filters .order {
  margin-left: 25px;
}

.page__products .filters .order .orderSelect {
  width: 200px;
  height: 28px;
  color: #525252;
  background-color: #fff;
  border: #919191 2px solid;
  border-radius: 5px;
}

.page__products .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page__products .container .carddiv {
  width: 260px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 10px 20px;
}

.page__products .container .carddiv .product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 260px;
  height: 400px;
}

.page__products .container .carddiv .product__card .prodcard__img {
  width: 260px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page__products .container .carddiv .product__card .prodcard__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
  color: #1f1f1f;
}

.page__products .container .carddiv .product__card .prodcard__info {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  color: #686868;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page__products .container .carddiv .product__card .prodcard__cost {
  margin-top: 12px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  color: #1f1f1f;
}

.page__products .container .carddiv .product__card .prodcard__button {
  height: 45px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  max-width: 100%;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.page__products .nonesearch {
  width: 100%;
  min-height: 400px;
  height: 100%;
  background-color: #494949;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__products .nonesearch p {
  color: #fff;
  font-size: 24px;
}

.orderpage {
  position: fixed;
  z-index: 6;
}

.orderpage .orderpage__blur {
  position: absolute;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.415);
  height: 100vh;
  width: 100vw;
  top: -88px;
  padding-bottom: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderpage .orderpage__blur .orderpage__inputpox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
  height: 140px;
  padding: 0 20px;
  line-height: 1.33;
  border-radius: 20px;
  background-color: rgba(23, 23, 23, 0.425);
}

.orderpage .orderpage__blur .orderpage__inputpox .orderpage__input {
  height: 70px;
  margin: 0 10px;
  padding: 5px;
  border: none;
  background-color: #5a8942;
  border: #62914a 1px solid;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.orderpage .orderpage__blur .orderpage__inputpox .orderpage__input .copytext {
  font-weight: 500;
  color: #fff;
}

.orderpage .orderpage__blur .orderpage__inputpox .orderpage__input span {
  font-weight: 700;
}

.orderpage .orderpage__blur .orderpage__inputpox .orderpage__input .watsapp {
  color: #43d854;
}

.orderpage .orderpage__blur .orderpage__inputpox .orderpage__input .inst {
  color: #ca4679;
}

.orderpage .orderpage__blur .orderpage__inputpox .orderpage__input .tel {
  color: black;
}

.orderpage.displaynone {
  display: none;
}

.orderMenu {
  position: absolute;
  z-index: 5;
  top: 0;
}

.orderMenu .orderMenu__blur {
  position: fixed;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100vw;
  padding-bottom: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.orderMenu .orderMenu__blur .orderMenu__order__block {
  overflow-y: auto;
  max-height: 660px;
  height: 100%;
  top: -88px;
  margin: 0 auto;
  background-color: #fff;
  width: 540px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 40px;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title {
  height: 100%;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 600;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements {
  min-height: 80px;
  padding: 10px 0;
  width: 100%;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element .order__img {
  width: 70px;
  height: 70px;
  background-color: #525252;
  border-radius: 3px;
  margin-right: 20px;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element .order__element__title {
  font-size: 16px;
  font-weight: 600;
  width: 165px;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element .znak {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element .cout {
  font-size: 16px;
  line-height: 16px;
  margin: 0 5px;
  padding: 2px 5px;
  padding: 0 8px;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element .total {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element .close {
  width: 20px;
  height: 70px;
  padding: 15px 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .order__elements .order__element .close img {
  width: 20px;
  height: 20px;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .input {
  width: 100%;
  height: 85px;
  text-align: left;
  padding: 20px 0;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .input .input__h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .input input {
  height: 54px;
  width: 100%;
}

.orderMenu .orderMenu__blur .orderMenu__order__block .order__title .button {
  width: calc(100% + 8px);
  margin: auto;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backet {
  position: fixed;
  z-index: 99;
  right: 15px;
  top: 105px;
  background-color: #dc4545;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-radius: 50%;
}

.menuBlock {
  display: none;
}
/*# sourceMappingURL=style.css.map */